html[data-theme="light"] {
    --pst-color-primary: #199681;
}

html[data-theme="dark"] {
    --pst-color-primary: white;
}

table {
  width: auto; /* Override fit-content which breaks Styler user guide ipynb */
}
